input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#input{
    height: 25px;
    width: 201px;
    border: none;
    outline: none;
    font-size: 12ps;
    box-shadow: 0 0 20px rgb(55, 55, 55)

    
}


.button{
    border: none;
    background-color: #4e89ddf0;
    color: white;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(55, 55, 55)
}

#result{
    color: rgb(29, 79, 148);
    background-color: #ececec;
    padding: 8px;
    border-radius: 3px;
    height: 22px;
    font-size: 19px;
    align-items: center;
    width: 150px;
    box-shadow: 0 0 20px rgb(55, 55, 55)
    
    
}

body{
    background-image: url("sky.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}